

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image: url(images/pexels-didsss-2675047.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}




 ul {
    list-style-type: none; 
    display: inline-block;
    position:relative ;
    text-align: center;
    padding:0;
    margin-left:30%;
    width:100%;
    
    
   
    
}


 li {
    margin: 10px 80px;
    float:left;
    margin-top:0;
    text-decoration: underline;
    display: inline;
    text-decoration-color:cyan;
    
   
    
        
}


a {
    text-decoration: none; 
    color:cyan; 
    font-weight: bold; 
    padding:10px;
    display: block; 
    border-radius: 1px; 
    transition: background-color 0.3s; 
}

a:hover {
    background-color: #7b7b7b;
}
.yr{
    color:yellow;
    margin-top:3%;
    

}
.bek{
    
    margin-left:50px;
    color:white;
    margin-right:10%;
}

.bek::before{
    content: "•";
}
.arrow{
    font-size: 40px;
    color: yellow;
}
.yeah{
    height: 200px;
    width:400px;
    float:right;
    
    
    
    margin-bottom: 50px;
}
.brk{
    
    color: yellow;
    margin-top:10%;
}
.byk{
    color:yellow;
}
.sources {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.sources li {
    margin-bottom: 10px; 
}

.sources a {
    color: orange; 
    text-decoration: underline; 
    display: inline; 
}

.sources a:hover {
    text-decoration: none; 
}
.bak{
    color: yellow;
    margin-top:5%;
}
.ya{float:right;}
